nbi3gc-proxy/src/main/resources/wsdl/AlarmInformationIterator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AlarmInformationIterator" targetNamespace="http://AlarmIRPSystem.AlarmInformationIterator" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://AlarmIRPSystem.AlarmInformationIterator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://AlarmIRPSystem.AlarmInformationIterator" xmlns="http://AlarmIRPSystem.AlarmInformationIterator" xmlns:ns1="http://CosNotification/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://CosNotification/" schemaLocation="TypeDef_CosNotification.xsd"/>
    <xs:element name="destroy">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="destroyResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="next_alarmInformations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="how_many" type="xs:short"/>
                <xs:element maxOccurs="unbounded" name="alarm_informations" type="ns1:structuredEvent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="next_alarmInformationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="xs:boolean"/>
                <xs:element maxOccurs="unbounded" name="alarm_informations" type="ns1:structuredEvent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NextAlarmInformations" type="NextAlarmInformations"/>
    <xs:complexType name="NextAlarmInformations">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InvalidParameter" type="InvalidParameter"/>
    <xs:complexType name="InvalidParameter">
        <xs:sequence>
            <xs:element name="parameter" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="NextAlarmInformations">
    <wsdl:part name="NextAlarmInformations" element="tns:NextAlarmInformations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="next_alarmInformationsResponse">
    <wsdl:part name="parameters" element="tns:next_alarmInformationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyResponse">
    <wsdl:part name="parameters" element="tns:destroyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="next_alarmInformations">
    <wsdl:part name="parameters" element="tns:next_alarmInformations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameter">
    <wsdl:part name="InvalidParameter" element="tns:InvalidParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroy">
    <wsdl:part name="parameters" element="tns:destroy">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AlarmInformationIterator">
    <wsdl:operation name="destroy">
      <wsdl:input name="destroy" message="tns:destroy">
    </wsdl:input>
      <wsdl:output name="destroyResponse" message="tns:destroyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="next_alarmInformations">
      <wsdl:input name="next_alarmInformations" message="tns:next_alarmInformations">
    </wsdl:input>
      <wsdl:output name="next_alarmInformationsResponse" message="tns:next_alarmInformationsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameter" message="tns:InvalidParameter">
    </wsdl:fault>
      <wsdl:fault name="NextAlarmInformations" message="tns:NextAlarmInformations">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlarmInformationIteratorCorbaBinding" type="tns:AlarmInformationIterator">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="destroy">
      <wsdl:input name="destroy">
      </wsdl:input>
      <wsdl:output name="destroyResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="next_alarmInformations">
      <wsdl:input name="next_alarmInformations">
      </wsdl:input>
      <wsdl:output name="next_alarmInformationsResponse">
      </wsdl:output>
      <wsdl:fault name="InvalidParameter">
      </wsdl:fault>
      <wsdl:fault name="NextAlarmInformations">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmInformationIteratorService">
    <wsdl:port name="AlarmInformationIteratorCorbaPort" binding="tns:AlarmInformationIteratorCorbaBinding">
		<wsdlsoap:address location="http://10.91.40.36:8080/alarmInformationIterator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
