nbi3gc-proxy/src/main/resources/wsdl/BasicCmInformationIterator.wsdl

<?xml version="1.0" encoding="GBK"?>
<wsdl:definitions name="BasicCmInformationIterator" 
		targetNamespace="http://BasicCmIRPSystem.BasicCmInformationIterator" 
		xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:tns="http://BasicCmIRPSystem.BasicCmInformationIterator" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" 
    		elementFormDefault="qualified" 
    		targetNamespace="http://BasicCmIRPSystem.BasicCmInformationIterator" 
    		xmlns="http://BasicCmIRPSystem.BasicCmInformationIterator" 
    		xmlns:ns1="http://BasicCMIRPConstDefs/" 
    		xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://BasicCMIRPConstDefs/" schemaLocation="TypeDef_BasicCMIRPConstDefs.xsd"/>
    <xs:element name="destroy">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="destroyResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="next_basicCmInformations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="how_many" type="xs:short"/>
                <xs:element maxOccurs="unbounded" name="fetchedElements" type="ns1:result"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="next_basicCmInformationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="xs:boolean"/>
                <xs:element maxOccurs="unbounded" name="fetchedElements" type="ns1:result"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OperationNotSupported" type="OperationNotSupported"/>
    <xs:complexType name="OperationNotSupported">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="DestroyException" type="DestroyException"/>
    <xs:complexType name="DestroyException">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InvalidParameter" type="InvalidParameter"/>
    <xs:complexType name="InvalidParameter">
        <xs:sequence>
            <xs:element name="parameter" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NextBasicCmInformations" type="NextBasicCmInformations"/>
    <xs:complexType name="NextBasicCmInformations">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="destroy">
    <wsdl:part name="parameters" element="tns:destroy">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="next_basicCmInformations">
    <wsdl:part name="parameters" element="tns:next_basicCmInformations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NextBasicCmInformations">
    <wsdl:part name="NextBasicCmInformations" element="tns:NextBasicCmInformations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyResponse">
    <wsdl:part name="parameters" element="tns:destroyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="next_basicCmInformationsResponse">
    <wsdl:part name="parameters" element="tns:next_basicCmInformationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationNotSupported">
    <wsdl:part name="OperationNotSupported" element="tns:OperationNotSupported">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DestroyException">
    <wsdl:part name="DestroyException" element="tns:DestroyException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameter">
    <wsdl:part name="InvalidParameter" element="tns:InvalidParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BasicCmInformationIterator">
    <wsdl:operation name="destroy">
      <wsdl:input name="destroy" message="tns:destroy">
    </wsdl:input>
      <wsdl:output name="destroyResponse" message="tns:destroyResponse">
    </wsdl:output>
      <wsdl:fault name="OperationNotSupported" message="tns:OperationNotSupported">
    </wsdl:fault>
      <wsdl:fault name="DestroyException" message="tns:DestroyException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="next_basicCmInformations">
      <wsdl:input name="next_basicCmInformations" message="tns:next_basicCmInformations">
    </wsdl:input>
      <wsdl:output name="next_basicCmInformationsResponse" message="tns:next_basicCmInformationsResponse">
    </wsdl:output>
      <wsdl:fault name="OperationNotSupported" message="tns:OperationNotSupported">
    </wsdl:fault>
      <wsdl:fault name="InvalidParameter" message="tns:InvalidParameter">
    </wsdl:fault>
      <wsdl:fault name="NextBasicCmInformations" message="tns:NextBasicCmInformations">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicCmInformationIteratorCorbaBinding" type="tns:BasicCmInformationIterator">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="destroy">
      <wsdl:input name="destroy">
      </wsdl:input>
      <wsdl:output name="destroyResponse">
      </wsdl:output>
      <wsdl:fault name="OperationNotSupported">
      </wsdl:fault>
      <wsdl:fault name="DestroyException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="next_basicCmInformations">
      <wsdl:input name="next_basicCmInformations">
      </wsdl:input>
      <wsdl:output name="next_basicCmInformationsResponse">
      </wsdl:output>
      <wsdl:fault name="OperationNotSupported">
      </wsdl:fault>
      <wsdl:fault name="InvalidParameter">
      </wsdl:fault>
      <wsdl:fault name="NextBasicCmInformations">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicCmInformationIteratorService">
    <wsdl:port name="BasicCmInformationIteratorCorbaPort" binding="tns:BasicCmInformationIteratorCorbaBinding">
		<wsdlsoap:address location="http://127.0.0.1:8230/basicCmInformationIterator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
