nbi3gc-proxy/src/main/resources/wsdl/CSIRP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CSIRP" 
		targetNamespace="http://CSIRPSystem.CSIRP" 
		xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
		xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:tns="http://CSIRPSystem.CSIRP" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" 
    		elementFormDefault="qualified" 
    		targetNamespace="http://CSIRPSystem.CSIRP" 
    		xmlns="http://CSIRPSystem.CSIRP" 
    		xmlns:ns1="http://CSIRPConstDefs/" 
    		xmlns:ns2="http://ManagedGenericIRPConstDefs/" 
    		xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://CSIRPConstDefs/" schemaLocation="TypeDef_CSIRPConstDefs.xsd"/>
    <xs:import namespace="http://ManagedGenericIRPConstDefs/" schemaLocation="TypeDef_ManagedGenericIRPConstDefs.xsd"/>
    <xs:element name="get_CS_IRP_notification_profile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iRPVersion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_CS_IRP_notification_profileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="ns2:method"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_CS_IRP_operations_profile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iRPVersion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_CS_IRP_operations_profileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="ns2:method"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_CS_IRP_versions">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_CS_IRP_versionsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="return" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_heartbeat_period">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="heartbeatPeriod" type="xs:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="get_heartbeat_periodResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="ns1:resultType"/>
                <xs:element name="heartbeatPeriod" type="xs:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="set_heartbeat_period">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="heartbeatPeriod" type="xs:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="set_heartbeat_periodResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="ns1:resultType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="trigger_heartbeat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="managerIdentifier" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="trigger_heartbeatResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="ns1:resultType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InvalidManagerIdentifier" type="InvalidManagerIdentifier"/>
    <xs:complexType name="InvalidManagerIdentifier">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TriggerHeartbeat" type="TriggerHeartbeat"/>
    <xs:complexType name="TriggerHeartbeat">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OperationNotSupported" type="OperationNotSupported"/>
    <xs:complexType name="OperationNotSupported">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="SetHeartbeatPeriod" type="SetHeartbeatPeriod"/>
    <xs:complexType name="SetHeartbeatPeriod">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InvalidHeartbeatPeriod" type="InvalidHeartbeatPeriod"/>
    <xs:complexType name="InvalidHeartbeatPeriod">
        <xs:sequence>
            <xs:element name="periodLowerLimit" nillable="true" type="xs:short"/>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ConflictingHeartbeatPeriod" type="ConflictingHeartbeatPeriod"/>
    <xs:complexType name="ConflictingHeartbeatPeriod">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ValueNotSupported" type="ValueNotSupported"/>
    <xs:complexType name="ValueNotSupported">
        <xs:sequence>
            <xs:element name="parameter" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetCSIRPVersions" type="GetCSIRPVersions"/>
    <xs:complexType name="GetCSIRPVersions">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetHeartbeatPeriod" type="GetHeartbeatPeriod"/>
    <xs:complexType name="GetHeartbeatPeriod">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InvalidParameter" type="InvalidParameter"/>
    <xs:complexType name="InvalidParameter">
        <xs:sequence>
            <xs:element name="parameter" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetCSIRPOperationsProfile" type="GetCSIRPOperationsProfile"/>
    <xs:complexType name="GetCSIRPOperationsProfile">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetCSIRPNotificationProfile" type="GetCSIRPNotificationProfile"/>
    <xs:complexType name="GetCSIRPNotificationProfile">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="trigger_heartbeat">
    <wsdl:part name="parameters" element="tns:trigger_heartbeat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCSIRPOperationsProfile">
    <wsdl:part name="GetCSIRPOperationsProfile" element="tns:GetCSIRPOperationsProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_CS_IRP_operations_profile">
    <wsdl:part name="parameters" element="tns:get_CS_IRP_operations_profile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConflictingHeartbeatPeriod">
    <wsdl:part name="ConflictingHeartbeatPeriod" element="tns:ConflictingHeartbeatPeriod">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidHeartbeatPeriod">
    <wsdl:part name="InvalidHeartbeatPeriod" element="tns:InvalidHeartbeatPeriod">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCSIRPNotificationProfile">
    <wsdl:part name="GetCSIRPNotificationProfile" element="tns:GetCSIRPNotificationProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_heartbeat_period">
    <wsdl:part name="parameters" element="tns:get_heartbeat_period">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="set_heartbeat_periodResponse">
    <wsdl:part name="parameters" element="tns:set_heartbeat_periodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameter">
    <wsdl:part name="InvalidParameter" element="tns:InvalidParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationNotSupported">
    <wsdl:part name="OperationNotSupported" element="tns:OperationNotSupported">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_CS_IRP_versions">
    <wsdl:part name="parameters" element="tns:get_CS_IRP_versions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetHeartbeatPeriod">
    <wsdl:part name="GetHeartbeatPeriod" element="tns:GetHeartbeatPeriod">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_CS_IRP_notification_profile">
    <wsdl:part name="parameters" element="tns:get_CS_IRP_notification_profile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_CS_IRP_notification_profileResponse">
    <wsdl:part name="parameters" element="tns:get_CS_IRP_notification_profileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TriggerHeartbeat">
    <wsdl:part name="TriggerHeartbeat" element="tns:TriggerHeartbeat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCSIRPVersions">
    <wsdl:part name="GetCSIRPVersions" element="tns:GetCSIRPVersions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetHeartbeatPeriod">
    <wsdl:part name="SetHeartbeatPeriod" element="tns:SetHeartbeatPeriod">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidManagerIdentifier">
    <wsdl:part name="InvalidManagerIdentifier" element="tns:InvalidManagerIdentifier">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trigger_heartbeatResponse">
    <wsdl:part name="parameters" element="tns:trigger_heartbeatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValueNotSupported">
    <wsdl:part name="ValueNotSupported" element="tns:ValueNotSupported">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_CS_IRP_versionsResponse">
    <wsdl:part name="parameters" element="tns:get_CS_IRP_versionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="set_heartbeat_period">
    <wsdl:part name="parameters" element="tns:set_heartbeat_period">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_heartbeat_periodResponse">
    <wsdl:part name="parameters" element="tns:get_heartbeat_periodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get_CS_IRP_operations_profileResponse">
    <wsdl:part name="parameters" element="tns:get_CS_IRP_operations_profileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CSIRP">
    <wsdl:operation name="trigger_heartbeat">
      <wsdl:input name="trigger_heartbeat" message="tns:trigger_heartbeat">
    </wsdl:input>
      <wsdl:output name="trigger_heartbeatResponse" message="tns:trigger_heartbeatResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidManagerIdentifier" message="tns:InvalidManagerIdentifier">
    </wsdl:fault>
      <wsdl:fault name="TriggerHeartbeat" message="tns:TriggerHeartbeat">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="set_heartbeat_period">
      <wsdl:input name="set_heartbeat_period" message="tns:set_heartbeat_period">
    </wsdl:input>
      <wsdl:output name="set_heartbeat_periodResponse" message="tns:set_heartbeat_periodResponse">
    </wsdl:output>
      <wsdl:fault name="SetHeartbeatPeriod" message="tns:SetHeartbeatPeriod">
    </wsdl:fault>
      <wsdl:fault name="InvalidHeartbeatPeriod" message="tns:InvalidHeartbeatPeriod">
    </wsdl:fault>
      <wsdl:fault name="ValueNotSupported" message="tns:ValueNotSupported">
    </wsdl:fault>
      <wsdl:fault name="ConflictingHeartbeatPeriod" message="tns:ConflictingHeartbeatPeriod">
    </wsdl:fault>
      <wsdl:fault name="OperationNotSupported" message="tns:OperationNotSupported">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_CS_IRP_versions">
      <wsdl:input name="get_CS_IRP_versions" message="tns:get_CS_IRP_versions">
    </wsdl:input>
      <wsdl:output name="get_CS_IRP_versionsResponse" message="tns:get_CS_IRP_versionsResponse">
    </wsdl:output>
      <wsdl:fault name="GetCSIRPVersions" message="tns:GetCSIRPVersions">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_heartbeat_period">
      <wsdl:input name="get_heartbeat_period" message="tns:get_heartbeat_period">
    </wsdl:input>
      <wsdl:output name="get_heartbeat_periodResponse" message="tns:get_heartbeat_periodResponse">
    </wsdl:output>
      <wsdl:fault name="GetHeartbeatPeriod" message="tns:GetHeartbeatPeriod">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_CS_IRP_operations_profile">
      <wsdl:input name="get_CS_IRP_operations_profile" message="tns:get_CS_IRP_operations_profile">
    </wsdl:input>
      <wsdl:output name="get_CS_IRP_operations_profileResponse" message="tns:get_CS_IRP_operations_profileResponse">
    </wsdl:output>
      <wsdl:fault name="GetCSIRPOperationsProfile" message="tns:GetCSIRPOperationsProfile">
    </wsdl:fault>
      <wsdl:fault name="OperationNotSupported" message="tns:OperationNotSupported">
    </wsdl:fault>
      <wsdl:fault name="InvalidParameter" message="tns:InvalidParameter">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_CS_IRP_notification_profile">
      <wsdl:input name="get_CS_IRP_notification_profile" message="tns:get_CS_IRP_notification_profile">
    </wsdl:input>
      <wsdl:output name="get_CS_IRP_notification_profileResponse" message="tns:get_CS_IRP_notification_profileResponse">
    </wsdl:output>
      <wsdl:fault name="GetCSIRPNotificationProfile" message="tns:GetCSIRPNotificationProfile">
    </wsdl:fault>
      <wsdl:fault name="OperationNotSupported" message="tns:OperationNotSupported">
    </wsdl:fault>
      <wsdl:fault name="InvalidParameter" message="tns:InvalidParameter">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CSIRPCorbaBinding" type="tns:CSIRP">
	<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="set_heartbeat_period">
      <wsdl:input name="set_heartbeat_period">
      </wsdl:input>
      <wsdl:output name="set_heartbeat_periodResponse">
      </wsdl:output>
      <wsdl:fault name="SetHeartbeatPeriod">
      </wsdl:fault>
      <wsdl:fault name="ValueNotSupported">
      </wsdl:fault>
      <wsdl:fault name="InvalidHeartbeatPeriod">
      </wsdl:fault>
      <wsdl:fault name="ConflictingHeartbeatPeriod">
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupported">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="trigger_heartbeat">
      <wsdl:input name="trigger_heartbeat">
      </wsdl:input>
      <wsdl:output name="trigger_heartbeatResponse">
      </wsdl:output>
      <wsdl:fault name="InvalidManagerIdentifier">
      </wsdl:fault>
      <wsdl:fault name="TriggerHeartbeat">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_CS_IRP_versions">
      <wsdl:input name="get_CS_IRP_versions">
      </wsdl:input>
      <wsdl:output name="get_CS_IRP_versionsResponse">
      </wsdl:output>
      <wsdl:fault name="GetCSIRPVersions">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_heartbeat_period">
      <wsdl:input name="get_heartbeat_period">
      </wsdl:input>
      <wsdl:output name="get_heartbeat_periodResponse">
      </wsdl:output>
      <wsdl:fault name="GetHeartbeatPeriod">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_CS_IRP_operations_profile">
      <wsdl:input name="get_CS_IRP_operations_profile">
      </wsdl:input>
      <wsdl:output name="get_CS_IRP_operations_profileResponse">
      </wsdl:output>
      <wsdl:fault name="GetCSIRPOperationsProfile">
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupported">
      </wsdl:fault>
      <wsdl:fault name="InvalidParameter">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get_CS_IRP_notification_profile">
      <wsdl:input name="get_CS_IRP_notification_profile">
      </wsdl:input>
      <wsdl:output name="get_CS_IRP_notification_profileResponse">
      </wsdl:output>
      <wsdl:fault name="GetCSIRPNotificationProfile">
      </wsdl:fault>
      <wsdl:fault name="OperationNotSupported">
      </wsdl:fault>
      <wsdl:fault name="InvalidParameter">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSIRPService">
    <wsdl:port name="CSIRPCorbaPort" binding="tns:CSIRPCorbaBinding">
    	<wsdlsoap:address location="http://127.0.0.1:8230/csirp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
