nbi3gc-proxy/src/main/resources/wsdl/NotificationConsumer.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="NotificationConsumer" targetNamespace="http://CosNotification/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CosNotification/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://CosNotification/" xmlns="http://CosNotification/" xmlns:ns1="http://AlarmIRPConstDefs/" xmlns:ns2="http://ManagedGenericIRPConstDefs/" xmlns:ns3="http://www.w3.org/2005/08/addressing" xmlns:ns4="http://CosNotification/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>
    <xs:import namespace="http://CosNotification/" schemaLocation="TypeDef_CosNotification.xsd"/>
    <xs:element name="Notifications">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="structuredEvent" type="ns4:structuredEvent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Notify" type="Notify"/>
    <xs:complexType name="Notify">
        <xs:sequence>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Notifications">
    <wsdl:part element="tns:Notifications" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotifyException">
    <wsdl:part element="tns:Notify" name="Notify">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="NotificationConsumer">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:Notifications" name="Notifications">
    </wsdl:input>
      <wsdl:fault message="tns:NotifyException" name="NotifyException">
    </wsdl:fault>
    </wsdl:operation>
    
  </wsdl:portType>
  <wsdl:binding name="NotificationConsumerBinding" type="tns:NotificationConsumer">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notify">
      <wsdl:input name="Notifications">
      </wsdl:input>
      <wsdl:fault name="NotifyException">
      </wsdl:fault>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="NotificationConsumerService">
    <wsdl:port binding="tns:NotificationConsumerBinding" name="NotificationConsumerPort">
      <wsdlsoap:address location="http://127.0.0.1:8231/notificationconsumer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>